<div>
<div>
<form role="form">
    <div>
        <label for="surveyName">Survey name</label>
        <input ng-model="surveyName" type="text" id="surveyName" placeholder="Enter survey name">
    </div>
    <div>
        <div>
            <label for="surveyText">Question</label>
            <input ng-model="question.text" type="text" id="surveyText" placeholder="Enter question text">
        </div>

        <div>
            <label>Answers:</label>

            <div ng-repeat="answer in question.answers">
                #{{$index+1}}: <input ng-model="answer.val" type="text" name="surveyAnswer" placeholder="Enter answer text">
            </div>
            <button ng-click="addAnswer()">Add answer</button>


        </div>
        <button ng-click="addQuestion()">Submit</button>
    </div>

</form>
</div>
<div>
	Survey name: {{surveyName}}

	<div ng-repeat="question in questions">
		{{question.text}}
		<ul>
			<li ng-repeat="answer in question.answers">
				{{answer.val}}
			</li>
		</ul>
	</div>

</div>
<button ng-click="insertSurvey()">Save</button>
</div>